/**
 * Use to URL:
 *  /admin/login/index
 *  /admin/login/index/*
 */

.form-horizontal .control-group span{
    display: none;
}



.form-horizontal .controls input.error {
    border-color: red;
	color: red;  
}

.form-horizontal .controls input.error + span {
    color: #FF0000;
    display: block;
    font: 10px/18px 'Tahoma',Arial,Verdana,sans-serif;
    text-align: left;
}

