<?php
/**
 * Local Configuration Override
 *
 * Copy local.php.dist to local.php and configure.
 */

return array(
   'db' => array(
        'database'  => '.......',
        'username'  => '.......',
        'password'  => '.......'
   )
);
